@import '_variables';
@import '_base';

.row1{
  display: flex;
}
.box1{
background-color: $background-color3;
color: $font-color2;
    h1{
      padding-top: 10rem;
      font-size: 6rem;
      padding-bottom: 0;
    }

    p{
      font-size: 1rem;
      padding-top: 1rem;
      padding-bottom: 10rem;
      margin-right: 20%;
    }

    h1,p{
    padding-left: 6rem;
    }
}
.box2 {
  padding-top: 6rem;
  background-color: $background-color3;
  padding-bottom: 5rem;

  img{
    border-radius: 50%;
    height: 400px;
    margin-right: 7rem;
  }
}

.info{
  padding-top: 5rem;
  padding-bottom: 5rem;
  padding-left: 6rem;
  color: black

}

.experience{
  background-color: $background-color3;
  padding-left: 6rem;
  padding-right: 6rem;
  padding-top: 5rem;
  padding-bottom: 5rem;

  h3{
    padding-bottom: 2rem;
    font-size: 1.5rem;
  }
  ul {
    display: flex;
    flex-flow: row wrap;
    flex-direction: row;
    justify-content: center;
    font-size: 1.4rem;

    i{
      font-size: 1rem;
    }

    a{
      text-decoration: none;

      p{
        &.basic-link{
          color: $font-color2;
        }

        &:hover{
          color: $hover-color1;
        }

        &:active{
          opacity: .5;
        }
      }
    }
  }
}


.job1, .job2, .job3{
  padding-right: 4rem;
  padding-bottom: 2rem;
  max-width: 30rem;
}

.shadowing{
  padding-left: 6rem;
  padding-top: 4rem;
  padding-bottom: 4rem;

  h3{
    font-size: 1.5rem;
  }
  ul{
    font-size: 1.4rem;
  }


}

.footer{
  background-color: $background-color3;
  text-align: center;
  padding-bottom: 4rem;
  padding-top: 4rem;

  a{
    font-size: 3rem;
    text-decoration: none;

    &.hover{
      color: $hover-color1;
    }

    &.active{
      opacity: .5;
    }
  }

}
