@import '_variables';
@import '_base';

html {
  scroll-behavior: smooth;
}

.section1{
background-color: $background-color3;
color: $font-color2;

  .row {
    padding-top: 6rem;
    margin-bottom: 0rem;
  }

  .col-sm{
    width: 90rem;
    max-width: 90%;
    margin: 0 auto;
    padding-top: 3rem;
    font-size: 5rem;

  }
  h1{
    padding-top: 4rem;
    font-size: 5.5rem;
  }
  p{
    padding-top: 2rem;
    font-size: 1.3rem;
    text-align: left;
  }

  img{
    border-radius: 50%;
    width: 80%;
    margin-left: 8rem;
    margin-bottom: 5rem;
  }
}

#navbar {
  background-color: $background-color1;
  width: 100%;
  transition: ease all 0.5s;
  text-align: center;
  padding-bottom: .2rem;
}

#navbar a {
  display: inline-block;
  color: $font-color3;
  text-align: center;
  padding: 1.5rem 0rem;
  margin-right: 2.5rem;
  text-decoration: none;
  font-size: 1rem;
}

#navbar a:hover {
  opacity: .5;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
.sticky + #content {
  padding-top: 75px;
}

.info{
  padding-top: 5rem;
  padding-bottom: 5rem;
  color: black;
}

.experience{
  background-color: $background-color3;
  padding-top: 5rem;
  padding-bottom: 2rem;

  .job{
    cursor: pointer;
    width: 100%;
    transition: ease all .3s;
  }

  .job.active, .job:hover {
    background-color: #ccc;
  }

.jobdescrip{
  padding: 2rem;
  display: none;
  overflow: hidden
}

  h3{
    padding-bottom: 2rem;
    font-size: 1.5rem;
  }
  ul {
    display: flex;
    flex-flow: row wrap;
    flex-direction: row;
    font-size: 1.4rem;

    i{
      font-size: 1rem;
    }

    a{
      text-decoration: none;
      color: $font-color1;

        &.basic-link{

        }

        &:hover{
          color: $hover-color1;
        }

        &:active{
          opacity: .5;
        }
    }
  }
}


.job1, .job2, .job3{
  padding-right: 4rem;
  padding-bottom: 2rem;
  max-width: 30rem;
}

.section4{
  padding-top: 4rem;
  padding-bottom: 4rem;

  .col-sm{
    padding-top: 2rem;
    padding-right: 1rem;
  }

  h3{
    font-size: 1.5rem;
  }
  ul{
    font-size: 1.4rem;
  }


}

.VNMAP, .VSA{
  h3{
    padding-top: 4rem;
    text-align: center;
  }
  img{
    width: 100%;
    padding-top: 7rem;
    margin: 0;
    padding-bottom: 3rem;
  }
  padding-bottom: 4rem;
}

.footer{
  background-color: $background-color3;
  text-align: center;
  padding-bottom: 4rem;
  padding-top: 4rem;

  a{
    font-size: 3rem;
    text-decoration: none;
    color: $font-color1;

    &:hover{
      color: $hover-color1;
    }

    &:active{
      opacity: .5;
    }
  }


}
