@import '_variables';
@import '_base';

body{
  font-family: 'Domine', serif;
  font-size: 1.6rem;
  margin: 0;
}

.info{
  background-color: $background-color1;
  color: white;
}

.section1{
margin-right: 50px;


    h1{
      padding-top: 2rem;
      padding-left: 3rem;
      font-size: 6rem;
      padding-bottom: 0;
    }

    p{
      font-size: 1rem;
      padding-top: 1rem;
    }

    h1,p{
    padding-left: 3rem;
    }
}
